*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bi.jpg);
    background-size: cover;
    background-position: center;
}

.main{
    width: 450px;
    background-color: brown;
    margin: auto;
    margin-top: 100px;
    padding: 20px 50px;
    color: #fff;
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: all .25s ease;        
}

img:hover{
    transform: scale(0.9);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 20px 0px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
}

p{
    text-align:justify;
}

.main ul{
    display: flex;
    column-gap: 15px;
    margin-top: 50px;
    
    
}
.main ul li{
    list-style: none;
    margin: auto;
    
}

.main ul li a{
    color: #fff;
    font-size: 60px;
    transition: all .25s ease;
}

.main ul li a:hover{
    color: #b9b9b9;
}